<div class="columns my-6 mb-10 is-mobile">
  <div class="column is-half is-offset-one-quarter mt-6">
    <h2 class="mb-3"><%= t('devise.signups.log_in') %></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", class: "input", type: "Email" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password",placeholder: " Password", class: "input", type: "password" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="actions">
        <%= f.submit "#{t('devise.signups.log_in')}", class: "button is-danger" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
    <%= button_to "#{t('devise.signups.continue_as_guest')}", continue_as_guest_path, method: :post, class: "button", style: "background: #485fc7; margin-top: 10px;" %>
  </div>
</div>
