<section class="hero navbar is-fixed-top <%= content_for?(:pages_index) ? yield(:pages_index) : "" %>">
  <div class="hero-body hero-body-header is-flex is-justify-content-space-between">
    <a  href="/shop">
      <p class="title title-pages is-flex">
        <%= image_tag("logo_hero.png",size:"150x150")%>
      </p>
    </a>
    <div class="field">
      <div class="control">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Search... ">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    </div>
    <div id="cart-details">
      <% if @current_cart.present? && @current_cart.line_items.present? %>
        <%= render 'carts/cart_nav', cart: @current_cart %>
      <% end %>
    </div>
    <% if !content_for?(:pages_index) %>
      <div style="display:none;">
        <% if current_hrist.present? %>
          <%= button_to "Sign out", destroy_hrist_session_path, {class: 'authorization-btn is-link', method: :delete}  %>
        <% else %>
          <%= button_to "Sign in", new_hrist_session_path, {class: 'authorization-btn is-link', method: :get}  %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="cart-details-modal">
    <%= render 'carts/cart', cart: @current_cart %>
  </div>
</section>
<div class="mb-2">
  <hr style="width:100%;border-top-width:1px;--tw-border-opacity:1;border-color:rgba(222, 222, 222, var(--tw-border-opacity));">
</div>
