<% content_for(:shop) { 'is-link' } %>
<div class="main-container">
  <div class="columns">
    <div class="column is-2_5">
      <div class="columns is-multiline is-flex-direction-column">
        <div class="column is-12 ">
          <div class="card is-flex" id="shop-info-section">
            <div class="column is-3 is-flex is-justify-content-center is-align-items-center">
              <span class="showing-time pt-1">30 <%= t('.min') %>.</span>
            </div>
            <div class="column is-9">
              <span class="opened-hours has-text-weight-semibold subtitle is-7" style="color:#a9a8a8"><%= t('.open') %> 8:00 - 23:59</span>
              <% if @current_user.present? %>
                <div>
                  <% if @location.present? && @location.address.present? %>
                    <p class="client-address has-text-weight-semibold subtitle is-7"><%= truncate(@location.address, length: 20, omission: '...') %></a>
                  <% else %>
                    <% if @current_user.present? %>
                      <a href="#" data-controller="location" data-action="click->location#openLocation" class="client-address has-text-weight-semibold subtitle is-7	has-text-danger"><%= t('.add_address') %></a>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= render 'shared/navbar/main' %>
      </div>
    </div>
    <div class="column is-9 is-offset-3 pt-5 pl-6">
      <div class="columns is-mobile is-flex-direction-column" style="position: relative; min-height: 555px; margin-right: 0px;">
        <div id="category-details">
          <%= render @category %>
        </div>
        <!-- Loader 4 -->
        <div id="loader-4" class="loader-4 center"><span></span></div>
      </div>
    </div>
  </div>
</div>
<% if @current_user.present? %>
  <%= render 'locations/location', current_user: @current_user, location: @location, show_location: "" %>
<% end %>
