<div class="modal-background" id="modal-background"></div>
<i class="fa-solid fa-caret-up" id="modal-arrow" style="display: none;"></i>
<div class="modal" id="cart-modal">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" style="color: black;"><%= t('.shopping_cart') %></p>
      <a href="#" data-controller="add-to-cart" data-action="click->add-to-cart#closeCart">
        <button class="delete" aria-label="close"></button>
      </a>
    </header>
    <section class="modal-card-body">
      <div id="add-reduce-section">
        <%= render "carts/proion", line_items: cart.line_items %>
      </div>
    </section>
    <footer class="modal-card-foot">
      <a id="proceed-to-checkout" href="<%= cart_checkout_path(locale: I18n.locale) %>" class="button is-danger <% if (cart.present? && cart.sub_total < 1000) || cart.blank? %>disabled-link<% end %>"><%= t('.checkout') %></a>
      <a href="#" data-controller="add-to-cart" data-action="click->add-to-cart#closeCart">
        <button class="button is-light"><%= t('.cancel') %></button>
      </a>
    </footer>
  </div>
</div>
