<div class="hero is-medium">
    <div class="hero-body">
        <div class="columns is-mobile">
            <div class="column is-three-fifths is-offset-one-fifth">
                <%= form_with model: @order, id: "order-form" do |form| %>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                            Cart details
                            </p>
                        </header>
                        <div class="card-content">
                            <div id="add-reduce-second-section">
                                <%= render "carts/proion", line_items: @cart.line_items %>
                            </div>
                            <!-- Pass products -->
                            <hr />
                            <div class="mb-4 is-flex is-justify-content-space-between" style="font-size: 15px; font-weight: 500;">
                                <span class="is-flex is-align-items-center">Address:</span>
                                <span class="is-flex is-align-items-center">
                                    <div class="control">
                                        <div id="full-address" class="select" style="margin-right: 15px;">
                                            <% if @current_user.present? && @current_user.locations.present? %>
                                                <select id="select-address">
                                                    <% @current_user.locations.each do |location| %>
                                                        <option value="<%= location.id %>"><%= location.full_address %></option>
                                                    <% end %>
                                                </select>
                                            <% end %>
                                        </div>
                                    </div>
                                    <a href="#" data-controller="location" data-action="click->location#openLocation">Add address</a>
                                </span>
                            </div>
                            <hr />
                            <div class="is-flex is-justify-content-space-between" style="font-size: 15px; font-weight: 500;">
                                <span>Total:</span><span><span id="total-second-amount"><%= @cart.sub_total %></span> <span class="currency">den</span></span>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" id="order-button" class="card-footer-item <% if @show_location.present? %>disabled<% end %>">Order</a>
                            <a href="/shop" class="card-footer-item">Go back to market</a>
                        </footer>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'locations/location', current_user: @current_user, location: @location, show_location: @show_location %>
