<div class="hero is-medium">
    <div class="hero-body">
        <div class="columns columns-margin-mobile is-mobile">
            <div class="column is-three-fifths-desktop is-full-touch m-0-mobile is-offset-one-fifth">
                <%= form_with model: @order, id: "order-form" do |form| %>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                            <%= t('.cart_details') %>
                            </p>
                        </header>
                        <div class="card-content">
                            <div id="add-reduce-second-section">
                                <%= render "carts/proion", line_items: @cart.line_items %>
                            </div>
                            <!-- Pass products -->
                            <hr />
                            <div class="mb-4 is-flex is-justify-content-space-between" style="font-size: 15px; font-weight: 500;">
                                <span class="is-flex is-align-items-center"><%= t('.address') %>:</span>
                                <span class="is-flex is-align-items-center">
                                    <div class="control">
                                        <div id="full-address" class="select" style="margin-right: 15px;">
                                            <% if @current_user.present? && @current_user.user_locations.present? %>
                                                <%= form.select :user_location_id, @current_user.user_locations.collect {|user_location| [ user_location.location.address, user_location.id ]}, selected: @current_user.user_locations.most_recently_created %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <a href="#" class="font-mobile" data-controller="location" data-action="click->location#openLocation"><%= t('.add_address') %></a>
                                </span>
                            </div>
                            <hr />
                            <div class="is-flex is-justify-content-space-between" style="font-size: 15px; font-weight: 500;">
                                <span><%= t('.total') %>:</span><span><span id="total-second-amount"><%= @cart.sub_total %></span> <span class="currency"><%= t('carts.cart_nav.den') %></span></span>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <button href="#" id="order-button" class="card-footer-item <% if @show_location.present? %>disabled<% end %>"><%= t('.order') %></button>
                            <a href="<%= shop_path(locale: I18n.locale) %>" class="card-footer-item"><%= t('.go_back') %></a>
                        </footer>
                    </div>
                    <input style="display:none;" type="text" value="" name="order[line_item_ids][]" id="order_line_item_ids">
                    <% @current_cart.line_items.each do |line_item| %>
                        <input style="display:none;" checked type="checkbox" value="<%= line_item.id %>" name="order[line_item_ids][]" id="order_line_item_ids_<%= line_item.id %>">
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'locations/location', current_user: @current_user, location: @location, show_location: @show_location %>
