<%
    eikona = proion.eikonas.present? && proion.eikonas.find_by(thumbnail: "true").present? ? proion.eikonas.find_by(thumbnail: "true") : ""
%>
<div class="column is-12 is-flex is-flex-direction-mobile-desktop">
  <div class="column is-6">
    <div class="carousel carousel-animated carousel-animate-fade" data-autoplay="true" data-delay="3000" style="height: 630px;">
      <div class="carousel-container" style="background: #f5f5f5; border-radius: 8px;">
        <% proion.eikonas.each do |eikona| %>
          <div class="carousel-item has-background is-flex <% if eikona.thumbnail == "true" %>is-active<% end %>">
            <img src="<%= eikona.path_ref %>" alt="Image 1">
          </div>
        <% end %>
      </div>
      <div class="carousel-navigation is-overlay">
        <div class="carousel-nav-left">
          <i class="fas fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6 is-flex">
    <div class="is-flex is-flex-direction-column">
      <p class="title"><%= proion.title %></p>
      <p class="subtitle-adjusted" style="font-weight: 500;"><span class="subtitle-adjusted is-7"><%= proion.price %> <span class="currency"><%= t('carts.cart_nav.den') %></span> / <%=  proion.size %> </span></p>
      <p class="subtitle mt-6"><%= t('proions.proion.proion_information') %></p>
      <p class="subtitle is-6"><%= proion.long_description %></p>
      <a class="button is-danger" data-controller="add-to-cart" data-add-to-cart-load-path="<%= line_items_path(:product_id => proion.id) %>" data-action="click->add-to-cart#fillCart"><%= t('proions.proion.add_item') %></a>
    </div>
  </div>
</div>
