<div class="column is-hidden-mobile	">
  <h4>NAVIGATION</h4>
  <a href="/categories/<%= @main_category.reference %>">
    <div class="is-flex mt-2 is-align-items-center">
      <i style="width: 25px;"  class="<%= @main_category.icon %>"></i>
      <p class="ml-2 paragraph-icons"><%= @main_category.name %></p>
    </div>
  </a>
</div>
<div class="column is-hidden-mobile">
  <h4>CATEGORIES</h4>
  <div class="is-flex is-multiline is-flex-direction-column is-fullwidth is-scrollable">
    <% @categories.each do |category| %>
      <%= render 'shared/navbar/category', category: category %>
    <% end %>
  </div>
</div>
<div class="section is-hidden-tablet">
  <div class="columns is-flex is-flex-wrap-nowrap " >
    <div class="column is-12">
      <div id="card-item-category" class = "is-flex is-flex-direction-column " >
        <div class="product-image is-flex is-align-center is-justify-content-center"style="position:relative">
          <span class="title is-7 has-text-weight-medium"> Category name </span>
          <%= image_tag("cola.png", :size => "80x80",style: "position:absolute;bottom:10px") %>
          <%# <i class="fa fa-plus add-icon" style="position:absolute; top: 5px; left: 5px;" aria-hidden="true"></i> %>
        </div>
      </div>
    </div>
  </div>
</div>
