<!DOCTYPE html>
<html>
  <head>
    <title>Buymk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render partial: "/shared/header" %>
    <%= render partial: "/shared/promotions" %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render partial: "/shared/footer" %>
</body>
</html>
